@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c43232;
  --foreground: #613737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282424;
    --foreground: #332626;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial;
}

/* Apply to all textareas */
textarea {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #888 #2d2d2d;
  /* Thumb and track color */
}

/* Webkit (Chrome, Edge, Safari) */
textarea::-webkit-scrollbar {
  width: 8px;
  /* Adjust scrollbar thickness */
}

textarea::-webkit-scrollbar-track {
  background: #2d2d2d;
  /* Track background */
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  /* Scrollbar thumb color */
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}



/* Apply to all textareas */
html {
  /* Firefox */
  scrollbar-color: #888 #282424;
  /* Thumb and track color */
}

/* Webkit (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
  width: 10px;
  /* Adjust scrollbar thickness */
}

html::-webkit-scrollbar-track {
  background: #282424;
  /* Track background */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #888;
  /* Scrollbar thumb color */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}

button {
  font-weight: bold;
}