@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c43232;
  --foreground: #613737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282424;
    --foreground: #332626;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
